! special
*.foreground:   #d7d0c7
*.background:   #151515
*.cursorColor:  #d7d0c7

! black
*.color0:       #101010
*.color8:       #404040

! red
*.color1:       #e84f4f
*.color9:       #d23d3d

! green
*.color2:       #b8d68c
*.color10:      #a0cf5d

! yellow
*.color3:       #e1aa5d
*.color11:      #f39d21

! blue
*.color4:       #7dc1cf
*.color12:      #4e9fb1

! magenta
*.color5:       #9b64fb
*.color13:      #8542ff

! cyan
*.color6:       #6d878d
*.color14:      #42717b

! white
*.color7:       #dddddd
*.color15:      #dddddd

!URxvt*font: xft:Roboto Mono for Powerline:size=12,xft:FontAwesome:size=12
URxvt*font: xft:RobotoMono Nerd Font Mono:size=12,xft:FontAwesome:size=12

!URxvt*font: xft:Consolas:size=12
URxvt*renderFont: true

URxvt.depth: 32
URxvt.background: rgba:1500/1500/1500/bb00
!URxvt.background: rgba:0000/0000/0200/6500
URxvt.scrollBar: false
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 1
!URxvt.letterSpace: 1

URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: chromium
URxvt.matcher.button: 2
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&amp;@#-]*[\\w/-]

!Xft.dpi: 180

